.banner {
  height: 658px;
  padding-top: 169px;
  margin-top: -2px;
  color: $brand-primary;
  background: url("../img/bg-banner.jpg") no-repeat bottom center #fff;

  span {
    display: block;
    width: 782px;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.4;
    color: currentColor;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  &__btn {
    display: block;
    padding: 11px 33px;
    margin: 0 auto;
    margin-top: 29px;
  }
}
