.tabs {
  margin-top: -84px;
  margin-bottom: 104px;

  &__wrapper {
    height: 481px;
    padding: 63px 54px 63px 30px;
    background-color: #fff;

    @media (min-width: $screen-lg-min) {
      padding: 63px 84px 63px 53px;
    }
  }

  &__menu {
    float: left;
    width: 201px;
    margin-top: 4px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      display: block;
      margin-bottom: 0;

      &::before {
        display: none;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 10px 25px 9px 25px;
    font-size: $font-size-h5;
    font-weight: 300;
    color: $brand-primary;
    text-align: left;
    background: transparent;
    border: none;
    transition: background-color 0.1s ease-out;

    &:hover {
      outline: none;
      background-color: $gray-93;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: lighten($gray-93, 5%);
    }

    &--active {
      background-color: $gray-96;
    }
  }

  &__inner {
    position: relative;
    height: 355px;
    padding-left: 137px;
    overflow: hidden;  // hint to make it take whole available width
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 20px solid $gray-96;
    transition: opacity 0.3s ease-out;

    @media (min-width: $screen-lg-min) {
      left: 137px;
      width: calc(100% - 137px);
    }

    img {
      position: absolute;
      top: 49px;
      left: -105px;
    }

    &--active {
      opacity: 1;
    }

    &--bel {
      img {
        top: 64px;
        left: -87px;
      }
    }

    &--aze {
      img {
        top: 40px;
        left: -104px;
      }
    }

    &--kaz {
      img {
        top: 62px;
        left: -88px;
      }
    }

    &--kir {
      img {
        top: 57px;
        left: -108px;
      }
    }

    &--tur {
      img {
        top: 35px;
        left: -87px;
      }
    }

    &--chn {
      img {
        top: 40px;
        left: -105px;
      }
    }
  }

  &__descr {
    position: absolute;
    top: 40px;
    left: 245px;
  }

  &__title {
    display: block;
    margin-bottom: 29px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: $brand-primary;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  &__subheading {
    position: relative;
    z-index: 50;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 31px;
    font-size: 20px;
    font-weight: 300;
    color: $brand-accent;

    &::before {
      position: absolute;
      content: "";
      top: -7px;
      left: -14px;
      z-index: -1;
      width: 32px;
      height: 41px;
      background-image: url("../img/icon-arrow-up--bleached.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:last-of-type::before {
      top: -3px;
      background-image: url("../img/icon-arrow-down--bleached.png");
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    color: $brand-accent;
    list-style: none;

    li {
      margin-bottom: 11px;
      font-size: 15px;
      font-weight: 300;
      color: $brand-accent;

      &::before {
        display: none;
      }
    }
  }
}
