.materials{
  &--main {
    margin-bottom: 48px;
    color: #fff;
  }

  &__title{
    margin-bottom: 53px;
  }
}

.materials-page {
  padding-bottom: 105px;
}

.material {
  display: inline-block;
  width: 360px;
  padding-right: 10px;
  margin-right: 41px;
  margin-bottom: 78px;
  vertical-align: top;

  &:nth-child(3n) {
    margin-right: 0;
  }

  h1 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: inherit;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  img {
    margin-bottom: 26px;
    background-color: #fff;
  }

  p {
    padding-right: 50px;
    margin-bottom: 32px;
    font-size: $font-size--base;
    font-weight: 300;
    color: inherit;
  }
}
