.news {
  margin-bottom: 109px;
  color: #fff;


  &__title {
    display: block;
    margin-bottom: 38px;
    font-size: $font-size-h2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__all {
    display: block;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 10px;
    font-size: $font-size--base;
    line-height: $line-height-big;
    color: currentColor;
  }

  time {
    font-size: $font-size--base;
    font-weight: 300;
    color: $brand-blue-sky;
  }
}
