footer {
  font-size: $font-size--small;
  background-color: $brand-darken;
}

.page-footer {
  padding-top: 58px;
  padding-bottom: 52px;
  margin-bottom: 50px;
  color: #fff;
  border-bottom: 1px solid $brand-blue-lighten;

  &__links {
    padding-left: 30px;
  }

  &__call-head {
    position: relative;
    padding: 0;
    font-weight: 300;
    line-height: 1.4;
    color: $brand-color;
    text-align: left;
    background-color: transparent;
    border: none;

    &:hover {
      color: $brand-color--active;
    }

    &::before {
      position: absolute;
      content: "";
      top: -6px;
      left: -32px;
      width: 23px;
      height: 32px;
      background: url("../img/icon-dialog--white.png") no-repeat center 6px transparent;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 1.4;
    color: inherit;

    &:hover {
      color: $gray-76;
    }
  }

  &__request-call,
  &__email {
    display: block;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 1.4;
    color: $brand-color;

    @media (min-width: $screen-lg-min) {
      padding-left: 0;
    }

    &:hover {
      color: $brand-color--active;
    }
  }

  &__icq,
  &__skype {
    position: relative;
    display: block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;

    @media (min-width: $screen-lg-min) {
      padding-left: 0;
    }

    &:hover {
      color: $gray-76;
    }
  }

  &__icq {
    &::before {
      left: -27px;
      background: url("../img/icon-icq--white.png") no-repeat 0 0;

      @media (min-width: $screen-lg-min) {
        left: -27px;
      }
    }
  }

  &__skype {
    &::before {
      left: -27px;
      background: url("../img/icon-skype--white.png") no-repeat 0 0;

      @media (min-width: $screen-lg-min) {
        left: -27px;
      }
    }
  }

  &__copyright {
    margin-top: 28px;
    font-size: 14px;
    color: $brand-blue-lighten;

    span {
      float: right;
      font-size: inherit;
      color: inherit;
    }
  }
}
