.page-nav {
  position: relative;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-left: -0.28em;
    margin-bottom: 0;
    line-height: 1.2;

    &::before {
      display: none;
    }
  }

  &__item {
    display: inline-block;
    padding: 16px 33px;
    font-size: $font-size--menu;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: $brand-primary;
    border-left: 1px solid $brand-dark;
    transition: background-color 0.15s linear;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $brand-blue-light;
    }

    &:active{
      color: #fff;
      background-color: lighten($brand-blue-light, 2%);
    }
  }

  li:first-child {
    margin-left: 0;
    .page-nav__item{
      border-left: none;
    }
  }

  li:last-child {
    .page-nav__item {
      padding: 16px 32px;
      color: $brand-primary;
      background-color: $brand-color;

      &:hover {
        background-color: $brand-color--active;
      }
    }
  }
}
