.page-header {
  padding-top: 22px;
  background-color: #fff;

  &__phone {
    display: block;
    margin-top: 20px;
    margin-bottom: 9px;
    font-size: 24px;
    font-weight: 300;
    color: $brand-primary;
    letter-spacing: 0.02em;

    @media (min-width: $screen-lg-min) {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      color: $brand-blue-light;
      outline: none;
    }

    &:focus {
      text-shadow: 1px 1px 3px rgba(32, 101, 141, 0.3);
    }
  }

  &__request-call {
    margin-right: 12px;

    &:focus {
      text-shadow: 1px 1px 3px rgba(5, 104, 104, 0.3);
      outline: none;
    }

    @media (min-width: $screen-lg-min) {
      margin-right: 30px;
    }
  }

  &__email,
  &__skype {
    &:focus {
      text-shadow: 1px 1px 3px rgba(5, 104, 104, 0.3);
      outline: none;
    }
  }

  &__call-head {
    position: relative;
    float: right;
    width: 132px;
    padding: 8px 16px;
    margin-top: 20px;
    font-size: $font-size--small;
    font-weight: 400;
    line-height: 1.23;
    color: $brand-accent;
    background-color: transparent;
    border: 3px solid $brand-color;
    transition: border-color 0.15s linear,
    color 0.15s linear;

    &:hover,
    &:focus {
      color: $brand-color--darken;
      border-color: $brand-color--active;
      outline: none;
    }

    &:focus{
      border-color: darken($brand-color--active, 12%);
    }

    &::before {
      position: absolute;
      content: "";
      top: 7px;
      left: -13px;
      width: 23px;
      height: 32px;
      background: url("../img/icon-dialog.png") no-repeat center 6px #fff;
    }
  }
}
