.products {
  padding-top: 6px;
  &-page{
    padding-bottom: 140px;
  }

  &__wrapper {
    width: 100%;
    height: 73%;

    &::before {
      display: inline-block;
      vertical-align: middle;
      background-color: red;
      height: 100%;
      content: "";
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    width: 179px;
    height: 175px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: -0.26em;
    text-align: center;
    vertical-align: top;
    background-color: #fff;

    @media (min-width: $screen-lg-min) {
      &:nth-child(3n-2) {
        margin-left: 0;
      }
    }

    img {
      max-height: 100%;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }

  &__descr{
    padding: 50px 45px 0;
  }
}
