.btn {
  padding: 10px 28px;
  color: currentColor;
  text-transform: uppercase;
  background-color: $brand-color;
  border: none;

  &:hover,
  &:focus {
    background-color: $brand-color--active;
  }

  &--small {
    padding: 9px 26px;
    font-size: 14px;
    text-transform: none;
  }
}
