.btn {
  padding: 9px 22px;
  font-size: 14px;
  color: $brand-primary;
  text-transform: uppercase;
  background-color: $brand-color;
  letter-spacing: 0.05em;
  border: none;
  transition: background-color 0.2s linear;

  &:hover,
  &:focus {
    background-color: $brand-color--active;
  }

  &:active{
    background-color: darken($brand-color--active, 10%);
    outline: none;
  }

  &--small {
    padding: 9px 26px;
    font-size: 14px;
    text-transform: none;
  }
}
