.logo {
  position: relative;
  height: 85px;
  margin-bottom: 25px;

  &--footer {
    position: relative;
    height: 82px;
    margin-bottom: 50px;

    span {
      position: relative;
      top: 21px;
      z-index: 10;
      display: block;
      height: 36px;
      margin: 0;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      color: $brand-blue-lighten;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      background-color: $brand-darken;


      @media (min-width: $screen-md-min) {
        padding-left: 12px;
      }

      @media (min-width: $screen-lg-min) {
        top: 20px;
        padding-left: 19px;
        height: 40px;
        line-height: 1;
        font-size: 40px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: -2px;
      left: 3px;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: url("../img/icon-logo--blue.png") no-repeat center center $brand-darken;

      @media (min-width: $screen-lg-min) {
        left: 8px;
      }
    }
  }

  h1 {
    position: relative;
    top: 26px;
    z-index: 10;
    display: block;
    height: 36px;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: $brand-primary;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.056em;
    background-color: #fff;

    @media (min-width: $screen-lg-min) {
      top: 23px;
      height: 42px;
      font-size: 42px;
      line-height: 1;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: -11px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url("../img/icon-logo.png") no-repeat center center #fff;
  }
}
