.slider {
  position: relative;
  height: 322px;
  overflow: hidden;
  border: 16px solid $blue-dark;

  @media (min-width: $screen-lg-min) {
    height: 278px;
  }

  input {
    display: none;
  }

  &__controls {
    position: absolute;
    top: 97px;
    right: 25px;
    z-index: 50;
    width: 20px;
    height: 60px;
  }

  &__btn {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 2px solid $brand-color;
    border-radius: 50%;

    &:nth-of-type(2) {
      top: 22px;
    }

    &:nth-of-type(3) {
      top: 44px;
    }
  }

  &__item {
    position: absolute;
    padding: 38px 84px 22px 47px;
    opacity: 0;
    transition: opacity 0.3s ease;

    h1 {
      margin-bottom: 25px;
      font-size: $font-size-h3;
      font-weight: 300;
      line-height: 1;
      color: #fff;
      text-align: left;
      letter-spacing: 0.05em;
    }
  }

  #slider-1:checked ~ .slider__controls label[for=slider-1],
  #slider-2:checked ~ .slider__controls label[for=slider-2],
  #slider-3:checked ~ .slider__controls label[for=slider-3] {
    background-color: $brand-color;
  }

  #slider-1:checked ~ .slider__wrapper section[data-id=slider-1],
  #slider-2:checked ~ .slider__wrapper section[data-id=slider-2],
  #slider-3:checked ~ .slider__wrapper section[data-id=slider-3] {
    opacity: 1;
  }
}
